[profile.default]
src = "src"
out = "out"
libs = ["lib"]
via_ir = true
optimizer = true
optimizer_runs = 200

remappings = [
    "@openzeppelin/contracts=lib/openzeppelin-contracts/contracts",
    "@chainlink/contracts/src/v0.8/interfaces=lib/chainlink-evm/contracts/src/v0.8/shared/interfaces",
]

[invariant]
runs = 256
depth = 32
fail_on_revert = false


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
